<div class="card" [style.width.%]="size()">
    <div class="card__header">
        <h3>{{ title() }}</h3>
        <div class="card__header-actions">
            <ng-content select=".header-content"></ng-content>
        </div>
    </div>
    <div class="card__content">
        <ng-content select=".card-content"></ng-content>
    </div>
    @if (hasFooter()) {
        <div class="card__footer">
            <div class="card__footer-interactions">
                <ng-content select=".footer-interactions"></ng-content>
            </div>
            <div class="card__footer-actions">
                @for (action of listActions(); track action.id) {
                    <app-button
                        [variant]="action.variant || 'text'"
                        [label]="action.label"
                        [icon]="action.icon"
                        (click)="action.function()">
                    </app-button>
                }
            </div>
        </div>
    }
</div>
