<div class="task-card">
    <app-card
        [title]="task().name"
        [size]="80"
    >
        <div class="header-content">
            <app-badges
                [text]="task().priority"
                [colorType]="setBadgeColor(task().priority)"
                [size]="'medium'"
            ></app-badges>
            <app-badges
                [text]="task().status"
                [colorType]="setBadgeColor(task().status)"
                [size]="'medium'"
            ></app-badges>
        </div>
        <div class="card-content">
            <p>{{ task().detail }}</p>
            <p>Validate to: {{ task().deadline | date: 'MM/dd/yyyy' }}</p>
        </div>
    </app-card>
</div>